<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="my-modal">
                <div class="my-modal__content">
                    <div class="d-flex justify-content-end">
                        <i class="fa fa-window-close" (click)="closeModal()"></i>
                    </div>
                    <h2 class="heading-secondary text-center">{{race.Circuit.circuitName}} - 
                            {{race.Circuit.Location.locality}}, 
                            {{race.Circuit.Location.country}}</h2>
                    <p class="paragraph text-center">Read more about cirtuit <a href="{{race.Circuit.url}}" target="_blank" rel="noopener noreferrer">here</a></p>
                    <div class="row">
                        <div class="col-6">
                            <h3 class="heading-tertiary text-center">DRIVER</h3>
                            <ul class="text-center">
                                <li>{{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}}</li>
                                <li>{{race.Results[0].Driver.dateOfBirth | date: 'dd/MM/yyyy'}}</li>
                                <li>{{race.Results[0].Driver.nationality}}</li>
                                <li>{{race.Results[0].Constructor.name | uppercase}}</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h3 class="heading-tertiary text-center">RACE</h3>
                            <ul class="text-center">
                                <li>{{race.Results[0].points}} points</li>
                                <li>Fastest lap: {{race.Results[0].FastestLap.lap}}</li>
                                <li>Time: {{race.Results[0].FastestLap.Time.time}}</li>
                                <li>Time: {{race.Results[0].FastestLap.AverageSpeed.speed}}{{race.Results[0].FastestLap.AverageSpeed.units}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
